// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

// FONTS
$primary-title: Orator, sans-serif;
$content-font: Raleway, sans-serif;
$corpo-texto: 'Myriad Pro', sans-serif;
$hero-font: 'Montserrat Black', sans-serif;
$title-font: 'Orator', sans-serif;

//CORES
$elabora-color: #f8a519;
$blue: #ABBED9;
$blue-project: #5A5096;
$green: green;
$light-green: green;
$yellow: yellow;
$red: red;
$cor-padrao: #606060;

//TAMANHOS
$gutter: 50px;
$title-font-size: 30pt;



//SOMBRAS
$box-shadow-padrao: 0px 1px 3px 0px rgba(0,0,0,0.4);
$box-shadow-mini: 0px 1px 1px 0px rgba(0,0,0,0.4);

//BORDAS
$borda-padrao: 4px;
$borda-botao: 15px;